/* General styles */

.container {
    max-width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #ffffff;
  }
  
  /* Section 1 */
  .section1 {
    background-image: url('../../public/assets/ConsultingImg.jpg');
    background-size: cover;
    width: 100vw;
    height: 40vh;
    display: flex;
    align-items: center;
    padding: 30px 150px;
    box-sizing: border-box;
  }
  
  .section1 h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    color: #ffffff;
  }
  
  .section1 p {
    font-weight: bold;
    text-align: left;
    margin: 0;
    color: #ffffff;
  }
  
  /* Section 2 */
  .section2 {
    padding: 30px 180px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
  }
  
  .section2 h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
  }
  
  .section2Span {
    text-align: left;
  }
  
  .section2 ul {
    padding-left: 20px;
  }
  
  .section2 .highlighted {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
  }
  
  /* Section 3 */
  .section3 {
    padding: 30px 150px;
    width: 100%;
    box-sizing: border-box;
    background-color: #e6e6e6;
  }
  
  .section3 h1 {
    font-size: 24px;
    font-weight: bold;
    padding: 30px 0;
  }
  
  .section3 .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .section3 .card {
    flex: 1 1 calc(50% - 30px);
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: #ffffff;
  }
  
  .section3 .card h2 {
    font-size: 24px;
  }
  
  .section3 .card p {
    font-size: 16px;
  }
  
  .section3 .card a {
    text-decoration: none;
    color: #929292;
    font-weight: bold;
  }
  
  .section3 .card hr {
    border: 0;
    height: 1px;
    background: #888888;
    margin: 10px 0;
  }
  
  .section3 .card a:hover {
    text-decoration: underline;
  }
  
  .section3 .card:hover {
    transform: translateY(-5px);
  }
  
  /* Media Queries for responsiveness */
  @media (max-width: 768px) {
    .section1, .section2, .section3 {
      padding: 30px 20px;
    }
  }
  
  @media (max-width: 576px) {
    .section1 {
      height: 30vh;
      padding: 20px;
    }
    
    .section1 h1 {
      font-size: 36px;
    }
    
    .section2 {
      padding: 20px;
    }
    
    .section2 h3 {
      font-size: 20px;
    }
    
    .section2 .highlighted {
      font-size: 20px;
    }
    
    .section3 {
      padding: 20px;
    }
    
    .section3 .card {
      flex: 1 1 100%;
    }
  }
  