.container {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #ffffff;
    max-width: 100vw;
    padding: 0;
    margin: 0;
}

.container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container p {
    font-size: 16px;
    line-height: 1.5;
}

.backgroundSection {
    background-image: url('/assets/ConsultingImg.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 20px;
}

.backgroundSection h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 90px;
}

.ContentBgSection,
.ourConsulting {
    background-color: #ffffff;
    padding: 40px 150px 20px 150px;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ourConsulting {
    background-color: #d1d1d1;
    text-align: center;
}

.ourConsulting h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ourConsulting > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
    .backgroundSection h1 {
        padding-left: 60px;
        font-size: 36px;
    }

    .ContentBgSection,
    .ourConsulting {
        padding: 40px 100px 20px 100px;
    }

    .ourConsulting h1 {
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .backgroundSection {
        padding: 20px;
    }

    .backgroundSection h1 {
        padding-left: 20px;
        font-size: 24px;
    }

    .ContentBgSection,
    .ourConsulting {
        padding: 20px;
        text-align: left;
    }

    .ourConsulting h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {
    .backgroundSection h1 {
        font-size: 20px;
        padding-left: 10px;
    }

    .ContentBgSection,
    .ourConsulting {
        padding: 20px 10px;
    }

    .ourConsulting h1 {
        font-size: 20px;
    }
}
